%title {
  color: $text-color;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
%accent-btn {
  padding: 14px 40px;
  background-color: $accent-color;
  border-radius: 100px;
  color: $title-color;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border: none;
}
