$text-color: #111;
$title-color: #FFF;
$accent-color: #FD9222;
$subtext-color: rgba(17, 17, 17, 0.70);
$background-color: #1E1823;
$placeholder-color: rgba(64, 64, 64, 0.30);
$controls-color: rgba(17, 17, 17, 0.10);
