<section class="advertising" id="advertising">
  <div class="container">
    <h2 class="advertising__title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="advertising__text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="advertising__btn" data-open-mailing>Subscribe</button>
  </div>
</section>
