<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits_title">
      How It’s <span class="benefits__title__word">made?</span>
    </h2>
    <div class="benefits__box">
      <!-- <img src="" alt="" /> -->
      <div class="benefits__list__box">
        <h3 class="benefits__list__title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="benefits__list">
          <li class="benefits__list__item">
            <p class="benefits__list__text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="benefits__list__item">
            <p class="benefits__list__text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="benefits__list__item">
            <p class="benefits__list__text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="benefits__list__item">
            <p class="benefits__list__text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="benefits__list__item">
            <p class="benefits__list__text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
