<div class="backdrop is-hidden" data-mobile>
  <div class="burger-modal__menu">
    <button data-mobile-close class="burger-modal__close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          d="M22.6667 9.33325L9.33334 22.6666M9.33334 9.33325L22.6667 22.6666"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <ul class="burger-modal__list">
      <li class="burger-modal__item">
        <a
          href="#header"
          class="burger-modal__link burger-active__page"
          data-burger-navElem
          >Home</a
        >
      </li>
      <li class="burger-modal__item">
        <a href="#production" class="burger-modal__link" data-burger-navElem
          >How it’s made?</a
        >
      </li>
      <li class="burger-modal__item">
        <a href="#products" class="burger-modal__link" data-burger-navElem
          >Our products</a
        >
      </li>
      <li class="burger-modal__item">
        <a href="#sellers" class="burger-modal__link" data-burger-navElem
          >Top sellers</a
        >
      </li>
      <li class="burger-modal__item">
        <a
          href="#chocolate-is-loved"
          class="burger-modal__link"
          data-burger-navElem
          >Chocolate is loved</a
        >
      </li>
    </ul>
    <ul class="burger-modal-social__list">
      <li class="burger-modal-social__item">
        <a href="https://www.instagram.com/" target="_blank">
          <svg class="burger-svg__link1">
            <use href="./imgs/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="burger-modal-social__item">
        <a href="https://www.twitter.com/" target="_blank">
          <svg class="burger-svg__link2">
            <use href="./imgs/icons.svg#twitter" class="header-svg__link"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
