<div class="backdrop4 is-hidden" data-backdrop-discount>
  <div class="discount-container">
    <button class="discount__btn" data-close-discount>
      <svg width="22" height="22">
        <use href="./imgs/icons.svg#icon-close"></use>
      </svg>
    </button>
    <article class="discount__article">
      <h2 class="discount__title">thank you!</h2>
      <p class="discount__text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </article>
    <picture>
        <source media="(min-width: 1200px)" srcset="./imgs/modal/modal-1-1x.png">
        <source media="(max-width: 767px)" srcset="./imgs/modal/modal-1-1x.png">
        <source media="(min-width: 768px)" srcset="./imgs/modal/modal-1-1x.png">
        <img src="./imgs/modal/modal-1-1x.png" alt="Chocolate Photo" class="discount__img">
    </picture>
  </div>
</div>
