<div class="backdrop4 is-hidden-discount" data-backdrop-discount>
  <div class="discount">
  <div class="discount-container">
    <button class="discount__btn" data-close-discount>
      <svg class="discount__svg">
        <use href="./imgs/icons.svg#icon-close"></use>
      </svg>
    </button>
    <article class="discount__article">
      <h2 class="discount__title">thank you!</h2>
      <p class="discount__text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </article>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./imgs/modal/modal-1-pc-1x.png 1x,
          ./imgs/modal/modal-1-pc-2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./imgs/modal/modal-1-mob-1x.png 1x,
          ./imgs/modal/modal-1-mob-2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./imgs/modal/modal-1-tab-1x.png 1x,
          ./imgs/modal/modal-1-tab-2x.png 2x
        "
      />
      <img
        src="./imgs/modal/modal-1-pc-1x.png"
        alt="Chocolate Photo"
        class="discount__img"
      />
    </picture>
  </div>
  </div>
</div>
