<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__blocks">
      <h2 class="footer__title">
        <span class="orange">Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="footer__contacts-block">
        <div class="footer-contacts-links">
          <p class="footer-contacts__text">Contact us</p>
          <a class="footer-contacts__tel" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
          <a class="footer-contacts__mail" href="mailto:simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </div>
        <div class="footer-contacts-socials">
          <a
            href="https://www.instagram.com/"
            class="footer-icon__link"
            target="_blank"
          >
            <svg width="24" height="24" class="footer-socials__icon">
              <use href="./imgs/icons.svg#instagram"></use>
            </svg>
          </a>
          <a
            href="https://twitter.com/"
            class="footer-icon__link"
            target="_blank"
          >
            <svg width="24" height="24" class="footer-socials__icon">
              <use href="./imgs/icons.svg#twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__line"></div>
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#header" class="footer__link">Home</a>
        </li>
        <li class="footer__item">
          <a href="#production" class="footer__link">How it’s made?</a>
        </li>
        <li class="footer__item">
          <a href="#products" class="footer__link">Our products</a>
        </li>
        <li class="footer__item">
          <a href="#sellers" class="footer__link">Top sellers</a>
        </li>
        <li class="footer__item">
          <a href="#chocolate-is-loved" class="footer__link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
