<header
  class="header"
  id="header"
  data-aos="fade-down"
  data-aos-duration="500"
  data-aos-delay="550"
>
  <div class="container">
    <div class="header__box">
      <div class="header-logo__box">
        <h2 class="header-logo__title">
          <span class="header-logo__span">SIMPLY</span> CHOCOLATE
        </h2>
        <svg width="24" height="24">
          <use href="./imgs/icons.svg#logo"></use>
        </svg>
      </div>
      <button class="burger__button" data-mobile-open>
        <svg class="header-burger__svg">
          <use href="./imgs/icons.svg#burger"></use>
        </svg>
      </button>
      <ul class="header__list">
        <li class="header__item">
          <a href="#header" class="header-item__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#production" class="header-item__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header-item__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#sellers" class="header-item__link">Top sellers</a>
        </li>
        <li class="header__item">
          <a href="#chocolate-is-loved" class="header-item__link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <ul class="header-icons__list">
        <li class="header-icon__item">
          <a
            href="https://www.instagram.com/"
            class="header-icon__link"
            target="_blank"
          >
            <svg width="24" height="24">
              <use href="./imgs/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon__item">
          <a
            href="https://twitter.com/"
            class="header-icon__link"
            target="_blank"
          >
            <svg width="24" height="24">
              <use href="./imgs/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
