<section class="products" id="products">
  <div class="container">
    <h2 class="products__title">
      Our <span class="products__title__word">PRODUCTS</span>
    </h2>
    <div class="swiper-container products__slider">
      <ul class="products__list swiper-wrapper">
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/products/products-1-pc-1x.png 1x,
                ./imgs/products/products-1-pc-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/products/products-1-mob-1x.png 1x,
                ./imgs/products/products-1-mob-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/products/products-1-tab-1x.png 1x,
                ./imgs/products/products-1-tab-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-1-pc-1x.png"
              alt="chocolate1"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">ORANGE</h4>
          <p class="products__item__description">Dark chocolate</p>
          <button class="products__item__button" data-open-buy>45 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/products/products-2-pc-1x.png 1x,
                ./imgs/products/products-2-pc-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/products/products-2-mob-1x.png 1x,
                ./imgs/products/products-2-mob-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/products/products-2-tab-1x.png 1x,
                ./imgs/products/products-2-tab-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-2-pc-1x.png"
              alt="chocolate2"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">APPLE&CRANBERRY</h4>
          <p class="products__item__description">Milk chocolate</p>
          <button class="products__item__button" data-open-buy>50 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/products/products-3-pc-1x.png 1x,
                ./imgs/products/products-3-pc-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/products/products-3-mob-1x.png 1x,
                ./imgs/products/products-3-mob-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/products/products-3-tab-1x.png 1x,
                ./imgs/products/products-3-tab-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-3-pc-1x.png"
              alt="chocolate3"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">lIME&SEA SALT</h4>
          <p class="products__item__description">Dark chocolate</p>
          <button class="products__item__button" data-open-buy>66 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/products/products-4-pc-1x.png 1x,
                ./imgs/products/products-4-pc-2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/products/products-4-mob-1x.png 1x,
                ./imgs/products/products-4-mob-2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/products/products-4-tab-1x.png 1x,
                ./imgs/products/products-4-tab-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-4-pc-1x.png"
              alt="chocolate4"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">PINEAPPLE</h4>
          <p class="products__item__description">Milk chocolate</p>
          <button class="products__item__button" data-open-buy>54 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./imgs/products/products-5-1x.png 1x,
                ./imgs/products/products-5-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-5-1x.png"
              alt="chocolate5"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">Classic</h4>
          <p class="products__item__description">Milk chocolate</p>
          <button class="products__item__button" data-open-buy>45 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./imgs/products/products-6-1x.png 1x,
                ./imgs/products/products-6-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-6-1x.png"
              alt="chocolate6"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">honey</h4>
          <p class="products__item__description">Milk chocolate</p>
          <button class="products__item__button" data-open-buy>50 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./imgs/products/products-7-1x.png 1x,
                ./imgs/products/products-7-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-7-1x.png"
              alt="chocolate7"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">Roasted fruits</h4>
          <p class="products__item__description">Dark chocolate</p>
          <button class="products__item__button" data-open-buy>66 UAH</button>
        </li>
        <li class="products__list__item swiper-slide">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./imgs/products/products-8-1x.png 1x,
                ./imgs/products/products-8-2x.png 2x
              "
            />
            <img
              src="./imgs/products/products-8-1x.png"
              alt="chocolate8"
              class="products__img"
            />
          </picture>
          <h4 class="products__item__title">Classic</h4>
          <p class="products__item__description">White chocolate</p>
          <button class="products__item__button" data-open-buy>54 UAH</button>
        </li>
      </ul>
      <div class="swiper__pagination"></div>
    </div>
  </div>
</section>
