<section class="production">
    <div class="container" >
    <h2 class="production__title" >HOW IT’S <span class="production__title-span"> MADE?</span></h2>
        <div class="production__blok1" >
            <img src="" alt="picture">
                <svg class="production__" width="44px" height="44px">
                    <use href=""></use>
                </svg>
        </div>
        <div class="production__blok2">
            <h3 class="production__list-title">Try  our chocolates today and discover the perfect balance of flavor</h3>
            <ul class="production__list" >
                <li class="production__list-item">
                    <h3 class="production__item-text" >Heat the milk in a saucepan without bringing it to a boil. Add
                         sugar and cocoa powder.</h3>
                </li>
                <li class="production__list-item">
                    <h3 class="production__item-text">At the same time, prepare a water bath. Melt the butter on it.</h3>
                </li>
                <li class="production__list-item">
                    <h3 class="production__item-text">"Mix" the milk mixture and already liquid butter. Mix
                         thoroughly with a silicone spatula so that the mass becomes
                          uniform and silky.</h3>
                </li>
                <li class="production__list-item"> 
                    <h3 class="production__item-text">Heat the mixture over low heat, letting it barely boil.</h3>
                </li>
                <li class="production__list-item">
                    <h3 class="production__item-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</h3>
                </li>
            </ul>
        </div>
    </div>
</section>