<section class="Production">
    <div class="container" >
    <h2>HOW IT’S <span class="production__title"> MADE?</span></h2>
        <div>
            <img src="" alt="picture">
                <svg class="" width="44px" height="44px">
                    <use href=""></use>
                </svg>
        </div>
        <div>
            <h3 class="Production__list-title" >Try  our chocolates today and discover the perfect balance of flavor</h3>
            <ul>
                <li>
                    <h3>Heat the milk in a saucepan without bringing it to a boil. Add
                         sugar and cocoa powder.</h3>
                </li>
                <li>
                    <h3>At the same time, prepare a water bath. Melt the butter on it.</h3>
                </li>
                <li>
                    <h3>"Mix" the milk mixture and already liquid butter. Mix
                         thoroughly with a silicone spatula so that the mass becomes
                          uniform and silky.</h3>
                </li>
                <li> 
                    <h3>Heat the mixture over low heat, letting it barely boil.</h3>
                </li>
                <li>
                    <h3>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</h3>
                </li>
            </ul>
        </div>
    </div>
</section>