<section class="production" id="production">
  <div class="container">
    <h2 class="production__title">
      HOW IT’S <span class="orange"> MADE?</span>
    </h2>
    <div class="production__bloks" >
    <div class="production__blok1">
    <a href="https://youtu.be/dQw4w9WgXcQ?si=THR9sua0uFcoSA0Q" target="_blank">      
        <img  class="production__img" src="./imgs/production/production-mob-1x.jpg" alt="picture" />
        <svg class="production__playsvg" width="44px" height="44px">
          <use href="./imgs/icons.svg#icon-play"></use>
        </svg>
    </a>
    </div>
    <div class="production__blok2">
      <h3 class="production__list-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="production__list">
        <li class="production__list-item">
            <svg class="production__item-svg"  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="3.5" fill="#4C4C4C" stroke="#ECEDED"/>
                </svg>
          <h3 class="production__item-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </h3>
        </li>
        <li class="production__list-item">
            <svg class="production__item-svg"  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="3.5" fill="#4C4C4C" stroke="#ECEDED"/>
                </svg>
          <h3 class="production__item-text">
            At the same time, prepare a water bath. Melt the butter on it.
          </h3>
        </li>
        <li class="production__list-item">
            <svg class="production__item-svg"  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="3.5" fill="#4C4C4C" stroke="#ECEDED"/>
                </svg>
          <h3 class="production__item-text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </h3>
        </li>
        <li class="production__list-item">
            <svg class="production__item-svg"  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="3.5" fill="#4C4C4C" stroke="#ECEDED"/>
                </svg>
          <h3 class="production__item-text">
            Heat the mixture over low heat, letting it barely boil.
          </h3>
        </li>
        <li class="production__list-item">
            <svg class="production__item-svg"  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="3.5" fill="#4C4C4C" stroke="#ECEDED"/>
                </svg>
          <h3 class="production__item-text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
