<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">
      <span class="reviews--yellow">chocolate</span>is loved
    </h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="1x, 2x" />
          <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" />
          <img src="" alt="Victoria`s Photo" />
        </picture>
        <h3 class="reviews__name">Victoria Dobrzhanska</h3>
        <p class="reviews__text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="1x, 2x" />
          <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" />
          <img src="" alt="Nazar`s Photo" />
        </picture>
        <h3 class="reviews__name">Nazar Babenko</h3>
        <p class="reviews__text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="1x, 2x" />
          <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" />
          <img src="" alt="Olena`s Photo" />
        </picture>
        <h3 class="reviews__name">Olena Kampusch</h3>
        <p class="reviews__text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
    <ul class="reviews__controls-list">
      <li class="reviews__control active__control"></li>
      <li class="reviews__control"></li>
      <li class="reviews__control"></li>
      <li class="reviews__control"></li>
    </ul>
    <button class="reviews__btn" type="button">Leave a review</button>
  </div>
</section>