<section class="is-hidden-review backdrop3" data-backdrop-review>
  <div class="modal__review">
    <div class="modal-review__container">
      <h2 class="modal-review__title">
        LEAVE A REVIEW
        <span class="review-modal__line-break"
          >ABOUT <span class="orange">OUR CHOCOLATE</span></span
        >
      </h2>
      <button class="modal-review__btn" type="button" data-close-review>
        <svg width="22" height="22">
          <use href="./imgs/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="comment modal-test" id="comment__form">
        <input
          type="text"
          placeholder="Name"
          class="comment__input input-field"
          name="commentname"
          data-max-length="10"
          data-min-length="2"
        />
        <input
          type="email"
          placeholder="Email"
          class="comment__input input-field"
          name="commentemail"
          data-max-length="25"
          data-min-length="2"
        />
        <input
          type="text"
          id="phone2"
          placeholder="Phone number"
          class="comment__tel comment__input input-field"
          name="commentphonenum"
          data-min-length="3"
        />
        <textarea
          class="comment__textarea input-field"
          placeholder="Enter text"
          data-max-length="750"
          data-min-length="10"
          name="commentreview"
        ></textarea>
        <button class="comment__btn" type="submit" data-open-thanks>
          <span class="comment-btn__text">Send</span>
          <span class="comment-btn__waves"></span>
        </button>
      </form>
    </div>
  </div>
</section>
