<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="sellers__title"><span class="orange">TOP </span>SELLERS</h2>
    <ul class="sellers__list">
      <li class="sellers__list-item">
        <figure class="sellers__figure">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/sellers/sellers-1-pc-1x.jpg 1x,
                ./imgs/sellers/sellers-1-pc-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/sellers/sellers-1-mob-1x.jpg 1x,
                ./imgs/sellers/sellers-1-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/sellers/sellers-1-tab-1x.jpg 1x,
                ./imgs/sellers/sellers-1-tab-2x.jpg 2x
              "
            />
            <img
              src="./imgs/sellers/sellers-1-tab-1x.jpg"
              alt="Photo Of Chocolate"
              class="sellers__item-img"
            />
          </picture>
          <figcaption class="sellers__submenu">
            <ul class="sellers-submenu__list">
              <li class="sellers-submenu__item">
                <button class="sellers-submenu-heart__btn" data-heart-btn>
                  <p class="sellers-submenu__link icon fa fa-heart"></p>
                </button>
              </li>
              <li class="sellers-submenu__item">
                <a href="" class="sellers-submenu__link icon fa fa-comment"></a>
              </li>
              <li class="sellers-submenu__item">
                <button class="share__btn" id="copyButton" data-copy-button>
                  <a class="sellers-submenu__link icon fa fa-share"></a>
                </button>
              </li>
            </ul>
          </figcaption>
        </figure>
      </li>
      <li class="sellers__list-item">
        <figure class="sellers__figure">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/sellers/sellers-2-pc-1x.jpg 1x,
                ./imgs/sellers/sellers-2-pc-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/sellers/sellers-2-mob-1x.jpg 1x,
                ./imgs/sellers/sellers-2-mob-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./imgs/sellers/sellers-2-tab-1x.jpg 1x,
                ./imgs/sellers/sellers-2-tab-2x.jpg 2x
              "
            />
            <img
              src="./imgs/sellers/sellers-2-tab-1x.jpg"
              alt="Photo Of Chocolate"
              class="sellers__item-img"
            />
          </picture>
          <figcaption class="sellers__submenu">
            <ul class="sellers-submenu__list">
              <li class="sellers-submenu__item">
                <button class="sellers-submenu-heart__btn" data-heart-btn>
                  <p class="sellers-submenu__link icon fa fa-heart"></p>
                </button>
              </li>
              <li class="sellers-submenu__item">
                <a href="" class="sellers-submenu__link icon fa fa-comment"></a>
              </li>
              <li class="sellers-submenu__item">
                <button class="share__btn" id="copyButton1">
                  <a class="sellers-submenu__link icon fa fa-share"></a>
                </button>
              </li>
            </ul>
          </figcaption>
        </figure>
      </li>
      <li class="sellers__list-item">
        <figure class="sellers__figure">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./imgs/sellers/sellers-3-pc-1x.jpg 1x,
                ./imgs/sellers/sellers-3-pc-2x.jpg 2x
              "
            />
            <img
              src="./imgs/sellers/sellers-3-pc-1x.jpg"
              alt="Photo Of Chocolate"
              class="sellers__item-img"
            />
          </picture>
          <figcaption class="sellers__submenu">
            <ul class="sellers-submenu__list">
              <li class="sellers-submenu__item">
                <button class="sellers-submenu-heart__btn" data-heart-btn>
                  <p class="sellers-submenu__link icon fa fa-heart"></p>
                </button>
              </li>
              <li class="sellers-submenu__item">
                <a href="" class="sellers-submenu__link icon fa fa-comment"></a>
              </li>
              <li class="sellers-submenu__item">
                <button class="share__btn" id="copyButton2" data-copy-button>
                  <a class="sellers-submenu__link icon fa fa-share"></a>
                </button>
              </li>
            </ul>
          </figcaption>
        </figure>
      </li>
    </ul>
    <div class="sellers__bottom-block">
      <h3 class="sellers__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </h3>
      <div class="sellers-mob-block">
        <figure class="sellers__figure">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./imgs/sellers/sellers-2-mob-1x.jpg 1x,
                ./imgs/sellers/sellers-2-mob-2x.jpg 2x
              "
            />
            <img
              src="./imgs/sellers/sellers-2-mob-1x.jpg"
              alt="Photo Of Chocolate"
              class="sellers__mob-photo"
            />
          </picture>
          <figcaption class="sellers__submenu">
            <ul class="sellers-submenu__list">
              <li class="sellers-submenu__item">
                <button class="sellers-submenu-heart__btn" data-heart-btn>
                  <p class="sellers-submenu__link icon fa fa-heart"></p>
                </button>
              </li>
              <li class="sellers-submenu__item">
                <a href="" class="sellers-submenu__link icon fa fa-comment"></a>
              </li>
              <li class="sellers-submenu__item">
                <button class="share__btn" id="copyButton3" data-copy-button>
                  <a class="sellers-submenu__link icon fa fa-share"></a>
                </button>
              </li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="sellers-block-btn">
        <button class="sellers__button" data-open-buy>Buy now</button>
        <p id="textToCopy" class="tttest">
          https://illyabezpaliy13.github.io/Simple-Chocolate/
        </p>
      </div>
    </div>
  </div>
</section>
