<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="sellers__title">
      <span class="orange">TOP  </span>SELLERS
    </h2>
    <ul class="sellers__list">
      <li class="sellers__list-item">
        <img
          class="sellers__item-img"
          src="./imgs/sellers/sellers-1-mob-1x.jpg"
          alt="picture"
        />
      </li>
      <li class="sellers__list-item" >
        <img
          class="sellers__item-img"
          src="./imgs/sellers/sellers-2-mob-1x.jpg"
          alt="picture"
        />
      </li>
      <li>
        <img
          class="sellers__item-img"
          src="./imgs/sellers/sellers-3-pc-1x.jpg"
          alt="picture"
        />
      </li>      
    </ul>
    <div class="sellers__bottom-blok" >
    <h3 class="sellers__text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </h3>
    <button class="sellers__button">Buy now</button>
  </div>
  </div>
</section>
