<div class="backdrop5 is-hidden" data-backdrop-thanks>
  <div class="discount-container">
    <button class="discount__btn" data-close-thanks>
      <svg width="22" height="22">
        <use href="./imgs/icons.svg#icon-close"></use>
      </svg>
    </button>
    <article class="discount__article">
      <h2 class="discount__title thanks__title">thank you for your feedback!</h2>
      <p class="discount__text thanks__text">
        We are so happy to hear from you!
      </p>
    </article>
    <picture>
      <source media="(min-width: 1200px)" srcset="./imgs/modal/modal-1-1x.png" />
      <source media="(max-width: 767px)" srcset="./imgs/modal/modal-1-1x.png" />
      <source media="(min-width: 768px)" srcset="./imgs/modal/modal-1-1x.png" />
      <img
        src="./imgs/modal/modal-1-1x.png"
        alt="Chocolate Photo"
        class="discount__img"
      />
    </picture>
  </div>
</div>
