.benefits {
  background: $background-color;
  padding-top: 20px;
  padding-bottom: 35px;

  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.benefits__list {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    flex-shrink: 0;
    flex-wrap: nowrap;
  }
}

.benefits__svg-circle {
  display: flex;
  width: 62px;
  height: 62px;
  justify-content: center;
  align-items: center;
  gap: 7.303px;
  flex-shrink: 0;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
  transition-property: transform;
  transition-duration: 300ms;
  transition-delay: 50ms;

  &:hover {
    transform: scale(1.1);
  }
}

.benefits__svg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.benefits__item-title {
  color: $title-color;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.benefits__item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  max-width: 308px;
}

.benefits__line {
  height: 174px;
  background: rgba(255, 255, 255, 0.5);
}

.benefits__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::after {
    content: '';
    position: absolute;
    top: 62px;
    right: -18px;
    display: block;
    width: 1px;
    height: 174px;
    background-color: rgba(255, 255, 255, 0.5);

    @media screen and (min-width: 320px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }

  &:last-child::after {
    content: '';
    display: none;
  }
}
