.burger__button {
  border: none;
  background-color: transparent;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.burger-modal__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: $background-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 31;
  transition-duration: 400ms;
  transition-delay: 50ms;
  transition-timing-function: ease-out;
  @media screen and (min-width: 768px) {
    width: 290px;
  }
}

.burger-modal__close {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 28px;
  height: 28px;
  right: 20px;
  top: 20px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
    right: 32px;
    top: 24px;
  }
}

.burger-modal__list {
  margin-top: 180px;
  margin-left: 20%;

  @media screen and (min-width: 768px) {
    margin-top: 180px;
    margin-left: 30%;
  }
}

.burger-modal__item {
  margin-top: 24px;

  &:first-child {
    margin-top: 0;
  }
}

.burger-modal__link {
  color: $title-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: -0.28px;

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }
}

.burger-active__page {
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-weight: 600;
  }
}

.burger-modal-social__list {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  gap: 18px;

  @media screen and (min-width: 768px) {
    bottom: 24px;
    left: 32px;
  }
}

.burger-svg__link1 {
  width: 22px;
  height: 22px;
  fill: $title-color;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.burger-svg__link2 {
  width: 20px;
  height: 20px;
  fill: $title-color;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
