.backdrop2 {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  scroll-behavior: auto;
  overflow: scroll;
  background-color: #fafafa;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 31;
  padding: 24px 48px 48px 48px;
  // background-color: $text-color00080;
  // backdrop-filter: blur(5px);
  width: 311px;
  height: 1007px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media screen and (min-width: 768px) {
    width: 609px;
    height: 800px;
  }
}

.is-hidden-buy {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: $accent-color url(../imgs/loading-gif.gif) center / 50px
    //   no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }
}

.person-information__block {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    // justify-content: left;
  }
}

.product-modal__title {
  color: $text-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.product-modal__span {
  color: $accent-color;
}

.product-modal__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  // gap: 16px;
  margin-bottom: 40px !important;
}

.product-modal__item {
  padding: 32px 32px 28px 32px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: $title-color;

  @media screen and (min-width: 768px) {
    padding: 24px 20px 18px 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 155px !important;
  }

  &:first-child {
    @media screen and (min-width: 1200px) {
      margin-left: 10px;
    }

    @media screen and (min-width: 768px) {
      margin-left: 17px;
    }
  }
}

.product-item__button {
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  padding: 8px 27px;
  color: $text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.product-modal__close {
  border: none;
  background-color: transparent;
  margin-left: 95%;
}

.person-information__text {
  color: $text-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.24px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
  }
}

.person-information__input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
  width: 100%;
  padding: 14px 18px;

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
      rgba(0, 0, 0, 0.03);
    padding: 22px 24px;
    margin-right: 20px;
    width: 246px;
  }
}

.person-information__input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.person-information__second-input {
  display: block;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
  width: 100%;
  padding: 14px 18px;
  margin-top: 14px;

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
      rgba(0, 0, 0, 0.03);
    padding: 22px 24px;
    margin-right: 20px;
    width: 246px;
    margin-top: 25px;
  }
}

.person-information__second-input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.email__text {
  color: $text-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.24px;
  margin-top: 18px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
    margin-top: 21px;
  }
}

.email__input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
  width: 100%;
  padding: 14px 18px;

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    padding: 22px 24px;
    width: 513px;
  }
}

.email__input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.phone__text {
  color: $text-color;
  margin-top: 18px;
  margin-bottom: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.24px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
  }
}

.phone__input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  // padding: 17px 24px;
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
  width: 100%;
  padding: 10px 18px;

  @media screen and (min-width: 768px) {
    border-radius: 13px;
    padding-left: 120px !important;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 513px;
  }
}

.phone__input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: transparent;
  position: relative;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  padding-left: 24px;
}

.iti--separate-dial-code .iti__selected-flag:after {
  content: '';
  position: absolute;
  left: 110px;
  width: 3px;
  height: 32px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.card__input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 22px 24px;
  width: 100%;
  padding: 14px 18px;
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);

  @media screen and (min-width: 768px) {
    padding: 22px 24px;
    width: 513px;
    border-radius: 13px;
  }
}

.card__input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  color: rgba(64, 64, 64, 0.3);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
  }
}

.card {
  position: relative;
}

.buy-now-card__svg {
  position: absolute;
  width: 32px;
  height: 21px;
  top: 83px;
  right: 14px;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 30px;
    right: 24px;
    top: 98px;
  }
}

.comment__text {
  color: $text-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.24px;
  margin-bottom: 8px;
  margin-top: 18px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
    border-radius: 13px;
  }
}

.buy-now__textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.444915294647217px 5.444915294647217px 0px
    rgba(0, 0, 0, 0.03);
  width: 100%;
  padding: 14px 18px 60px 18px;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 513px;
    padding: 22px 24px 93px 24px;
    border-radius: 13px;
  }
}

// .email__input::placeholder {
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   letter-spacing: -0.28px;
//   color: rgba(64, 64, 64, 0.3);

//   @media screen and (min-width: 768px) {
//     font-size: 18px;
//     letter-spacing: -0.36px;
//   }
// }

.buy-submit__button {
  padding: 12px 28px;
  border-radius: 100px;
background: $accent-color;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 18px;
border: none;
color: $title-color;


  @media screen and (min-width: 768px){
    padding: 14px 40px;
  }
}

.card__num {
  margin-top: 18px;
  margin-bottom: 8px;
  color: $text-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116.667%;
  letter-spacing: -0.24px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 128.571%;
    letter-spacing: -0.28px;
  }
}
._error {
  box-shadow: 0 0 15px red;
}
.modal._sending::after {
  opacity: 1;
  visibility: visible;
}

.buy-now__slider {
  position: relative;
  padding-top: 42px;
  // width: auto;
  overflow: hidden;
  margin-bottom: 14px;
}

.buy-now__slider .buy-now-pagination {
  // bottom: -50%;
  // top: 900px;
  position: static;
  // margin-top: 31px;
  text-align: center;
}

.buy-now__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: $controls-color;
  opacity: 1;
  &:hover {
    background-color: $accent-color;
    transition-property: background-color;
    transition-duration: 350ms;
    transition-delay: 40ms;
    transition-timing-function: ease-in-out;
  }
}

.buy-now__slider .swiper-pagination-bullet-active {
  background-color: $accent-color;
  width: 28px;
  border-radius: 100px;
}

.error .input-field {
  border-color: rgb(238, 117, 117);
  // box-shadow: 0 0 15px red;
}

.error-label {
  display: block;
  color: rgb(238, 117, 117);
  position: absolute;
  font-size: 10px;
  // margin-top: 3px;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    margin-top: 5px;
  }
}