.backdrop4 {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-color: #0000003e;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 32;
  backdrop-filter: blur(5px);
}
.discount {
  position: absolute;
  width: 311px;
  overflow: hidden;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 15px;
  scroll-behavior: auto;
  border-radius: 15px;
  background-color: $accent-color;
  @media screen and (min-width: 768px) {
    width: 517px;
  }
}
.is-hidden-discount {
  opacity: 0;
  pointer-events: none;
}
.discount-container {
  position: relative;
  &::selection {
    background-color: #1e1823;
  }
}
.backdrop5 {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 32;
  background-color: #0000003e;
  backdrop-filter: blur(5px);
}
.discount-container {
  padding: 84px 24px 170px 68px;
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 154px 44px 154px 163px;
  }
}
.is-hidden-thanks {
  opacity: 0;
  pointer-events: none;
}
.discount__btn {
  background-color: $title-color;
  fill: $accent-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    top: 24px;
    right: 26px;
  }
}
.discount__svg {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}
.discount__title {
  color: #fcf1e0;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  margin-bottom: 8px;
  &::selection {
    background-color: $background-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.48px;
  }
}
.discount__text {
  color: #fcf1e0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.28px;
  &::selection {
    background-color: $background-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}
.discount__img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0px;
  width: 261px;
  @media screen and (min-width: 768px) {
    width: 238px;
  }
}
