.footer {
  background: #1e1823;
}

.footer__title {
  width: 300px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 28px;
  @media screen and (min-width: 768px) {
    line-height: 34px;
    letter-spacing: -0.56px;
  }
}

.footer__blocks {
  padding-top: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    display: flex;
  }
}

.footer__contacts-block {
  width: 164px;
  display: flex;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-left: 124px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
  margin-left: 543px;    
  }
}

.footer-contacts__text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 0;
  margin-bottom: 14px;
}

.footer-contacts__tel {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer-contacts__mail {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 4px;
  display: block;
}

.footer__line {
  width: 335px;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 32px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    width: 704px;
    margin-top: 50px;
  margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px){
    width: 1136px;
    margin-top: 62px;
  }
}

.footer__list {
  margin-top: 32px;
  width: 120px;
  height: 152px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
  margin-top: 24px;
    width: 532px;
    height: 16px;
    display: flex;
    padding-bottom: 50px;
    align-items: flex-start;
  }
}

.footer__link {  
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}

.footer__item {
  margin-top: 18px;
  @media screen and (min-width: 768px){
    margin-left: 24px;
  margin-top: 0;
   }
}

.footer-contacts-socials {
  display: flex;
  margin-left: 113px;
  @media screen and (min-width: 768px){
  margin-left: 50px;
  }
  @media screen and (min-width: 1200px){
    margin-left: 63px;
  }
}

.footer-socials__icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
