.header {
  padding-top: 24px;
}

.header__box {
  display: flex;
}

.header-logo__box {
  display: flex;
  align-items: center;
}

.header-logo__title {
  color: $text-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
  margin-right: 5px;

  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.42px;
    margin-right: 4px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.54px;
    margin-right: 5px;
  }
}

.header-logo__span {
  color: $text-color;

  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 128.571%;
    letter-spacing: -0.42px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 111.111%;
    letter-spacing: -0.54px;
  }
}

.header-chocolate__svg {
  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
    width: 21px;
    height: 21px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.header__list {
  display: none;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 188px;
  }
}

.header__item {
  overflow: hidden;

  &::after {
    content: '';
    width: auto;
    height: 2px;
    display: block;
    background-color: $accent-color;
    overflow: hidden;
    transform: translate(-100%, 0);
    transition-duration: 500ms;
    // flex-shrink: 0;
  }

  &:hover::after {
    // width: auto;
    overflow: hidden;
    transform: translate(0, 0);
  }
}

.header-item__link {
  color: $text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: -0.28px;
  transition-duration: 400ms;

  &:hover {
    color: $accent-color;
  }
}

.header-icons__list {
  display: none;

  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 18px;
    margin-left: auto;
  }
}

.header-burger__svg {
  width: 28px;
  height: 28px;

  @media screen and (min-width: 768px){
    width: 32px;
    height: 32px;
  }
}

.header-icon__link {
  transition-duration: 400ms;
  &:hover {
    fill: $accent-color;
  }
}