.products {
  padding-bottom: 128px;
}

.products__title {
  @extend %title;
  text-align: center;
}

.products__title__word {
  @extend %title;
  color: $accent-color;
}

.products__list {
  display: flex;
  align-items: center;
}

.products__list__item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: $title-color;
  padding: 32px 52px 32px 53px;
  transition-property: all;
  transition-duration: 400ms;
  transition-delay: 50ms;
  transition-timing-function: ease-in-out;
  &:hover {
    background-color: #FCF1E0;
  }
  @media screen and (min-width: 768px){
    width: 270px !important;
    padding: 32px 20px;
  }
}

.products__item__title {
  color: $text-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  text-align: center;
}

.products__item__description {
  color: $subtext-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.667%;
  letter-spacing: -0.24px;
  text-align: center;
  margin-top: 2px;
}

.products__item__button {
  display: block;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  padding: 8px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}

.products__slider {
  position: relative;
  padding-top: 42px;
  overflow: hidden;
  margin-bottom: 50px;
}

.products__slider .swiper__pagination {
  position: static;
  margin-top: 31px;
  text-align: center;
}

.products__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: $controls-color;
  opacity: 1;
  &:hover {
    background-color: $accent-color;
    transition-property: background-color;
    transition-duration: 350ms;
    transition-delay: 40ms;
    transition-timing-function: ease-in-out;
  }
}

.products__slider .swiper-pagination-bullet-active {
  background-color: $accent-color;
  width: 28px;
  border-radius: 100px;
}
.products__img {
  border-radius: 15px;
}