.production__title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.6px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
  }
}

.production__bloks {
  padding-bottom: 72px;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 128px;
  }
}

.production__blok1 {
  position: relative;
}

.production__playsvg {
  position: absolute;
  left: 278px;
  top: 178px;
  color: #eceded;
}

.production__blok2 {
  padding: 20px 14px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  @media screen and (min-width: 768px) {
    padding: 32px;
    width: 614px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 20px;
    margin-top: 0;

    width: 516px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.production__list-title {
  color: $text-color;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    margin-top: 0;
  }
}

.production__list-item {
  display: flex;
}

.production__item-text {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
  margin-left: 8px;
  &--mb0 {
    margin-bottom: 0;
  }
}

.production__item-svg {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  fill: #4c4c4c;
  stroke: #eceded;
  margin-top: 5px;
}
.production-video-block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

/*
  Player Skin Designer for Video.js
  http://videojs.com

  To customize the player skin edit 
  the CSS below. Click "details" 
  below to add comments or questions.
  This file uses some SCSS. Learn more  
  at http://sass-lang.com/guide)

  This designer can be linked to at:
  https://codepen.io/heff/pen/EarCt/left/?editors=010
*/

// The following are SCSS variables to automate some of the values.
// But don't feel limited by them. Change/replace whatever you want.

// The color of icons, text, and the big play button border.
// Try changing to #0f0
$primary-foreground-color: #fff; // #fff default

// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: transparent; // #2B333F default

// Try changing to true
$center-big-play-button: false; // true default

.video-js {
  font-size: 10px;
  border-radius: 15px;
  color: $primary-foreground-color;
  width: 100%;
  height: 450px;
  background-color: $background-color;
  overflow: hidden;
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: ease;
  @media screen and (min-width: 375px) {
    max-width: 335px;
    height: 500px;
  }
  &:hover .vjs-big-play-button {
    opacity: 0 !important;
    background-image: none;
  }

  @media screen and (min-width: 768px) {
    height: 400px;
    max-width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
  }
}
.vjs-default-skin .vjs-big-play-button {
  font-size: 3em;
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: ease;
  $big-play-width: 3em;
  $big-play-height: 1.5em;
  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;
  border: 0.06666em solid $primary-foreground-color;
  border-radius: 0.3em;

  @if $center-big-play-button {
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);
  } @else {
    left: 0.5em;
    top: 0.5em;
  }
}
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: $primary-background-color;
  background-color: rgba($primary-background-color, 0.7);
}
$slider-bg-color: lighten($primary-background-color, 33%);
.video-js .vjs-slider {
  background-color: rgba($slider-bg-color, 0.5);
}
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: transparent;
}
.video-js .vjs-load-progress {
  background: rgba(253, 146, 34, 0.8);
}
.video-js .vjs-load-progress div {
  background: lighten($slider-bg-color, 50%);
}
.vjs-theme-forest {
  --vjs-theme-forest--primary: #fd9222;
  --vjs-theme-forest--secondary: #fff;
}
.vjs-big-play-button {
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: ease;
}
.vjs-control-bar {
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: ease;
  margin-bottom: 0px !important;
}
.vjs-icon-placeholder::before {
  transition-duration: 300ms;
  transition-delay: 50ms;
  transition-timing-function: ease;
  &:hover {
    transform: scale(1);
  }
}
.vjs-poster img {
  object-fit: cover;
}
