.reviews {
  padding-top: 72px;
  padding-bottom: 72px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
.reviews__title {
  display: block;
  text-align: center;
  color: $text-color;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.6px;
  margin-bottom: 74px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 91px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
.reviews__list {
  display: flex;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
}
.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 56px;
  padding-right: 18px;
  padding-bottom: 26px;
  padding-left: 18px;
  border-radius: 15px;
  border: 1px solid $controls-color;
  width: 360px;
  height: 200px;
  &:first-child {
    padding-bottom: 42px;
  }
  // &:nth-child(4) {
  //   padding-bottom: 42px;
  // }
  // &:last-child {
  //   padding-bottom: 42px;
  // }
  @media screen and (min-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 24px;
    padding-left: 24px;
  }
}
.reviews__pic {
  width: 80px;
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.reviews__name {
  @include subtitle();
  margin-bottom: 24px;
  text-align: center;
}
.reviews__text {
  @include subtext($color: $subtext-color);
}
.reviews__btn {
  background-color: transparent;
  width: 165px;
  border-radius: 100px;
  padding: 12px 28px;
  border: 1px solid $accent-color;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  transition-delay: 55ms;
  @include subtitle();
  font-size: 14px;
  &:hover {
    color: $title-color;
    background-color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    width: 222px;
    padding: 14px 40px;
    font-size: 18px;
  }
}
.reviews__slider {
  position: relative;
  padding-top: 42px;
  overflow: hidden;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.swiper-pagination {
  position: static;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 31px;
  }
}
.reviews__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: $controls-color;
  opacity: 1;
  &:hover {
    background-color: $accent-color;
    transition-property: background-color;
    transition-duration: 350ms;
    transition-delay: 40ms;
    transition-timing-function: ease-in-out;
  }
}
.reviews__slider .swiper-pagination-bullet-active {
  background-color: $accent-color;
  width: 28px;
  border-radius: 100px;
}
